<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" packagingData="true" scan="true" scanPeriod="30 seconds">
	<!--disable debug  <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" /> -->
  <timestamp key="startTimestamp" datePattern="yyyyMMddHHmmssSSS"/>
	<property name="profile" value="test" />
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<!-- eclipse clickable place -->
			<!-- %4relative %highlight - to color-->
			<pattern>%4relative [%level] [%-10.10thread] %-120message -  \(%file:%line\) - %logger{10}.%-20.20method - %n%xException</pattern>
		</encoder>
	</appender>

	<logger name="ch.qos.logback" level="WARN" />

	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
